* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 235, 215);
}

h1 {
  text-align: center;
  padding: 24px;
  font-size: 36px;
}

.container {
  width: 480px;
  height: 480px;
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
  border: 2px solid black;
}

.to-center {
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 5px;
}

#change-size {
  margin: 0 5px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.active {
  background-color: black;
  color: white;
}
